<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<!-- DB로 전달되는 값 중 null이 있으면 에러가 아닌 NULL 자체로 인식 -->
  </settings>


	<typeAliases>
		<typeAlias type="com.kh.RoundTheVillage.lesson.model.vo.Lesson" alias="Lesson"/>
		<typeAlias type="com.kh.RoundTheVillage.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.RoundTheVillage.board.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.RoundTheVillage.pay.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.kh.RoundTheVillage.pay.model.vo.Coupon" alias="Coupon"/>
		<typeAlias type="com.kh.RoundTheVillage.banner.model.vo.Banner" alias="Banner"/>
	</typeAliases>  

  <mappers>
	  <mapper resource="/mappers/lesson-mapper.xml"/>
	  <mapper resource="/mappers/board-mapper.xml"/>
	  <mapper resource="/mappers/pay-mapper.xml"/>
	  <mapper resource="/mappers/banner-mapper.xml"/>
  </mappers>


</configuration>