@charset "UTF-8";
*{font-family: 'NanumSquare', sans-serif !important;}
.login-logo-area{
	padding-top: 64px; 
	padding-bottom: 50px; 
	text-align: center;
}

.login-logo{
	width: 150px;
}

.s_radio{
    width: 100%;
    height: 36px;
}
hr{
    height: 20px;
    background-color: #E3E3E3;
}

/* 라디오 버튼 관련 */

/* 라디오 버튼 없애는 */
.box-radio-input input[type="radio"]{
    display:none;
    width: 100%;
}

.box-radio-input input[type="radio"] + span{
    width: 210px;
    display:inline-block;
	background:none;
	border:1px solid #dfdfdf;	 
	text-align:center;
	line-height:50px;
	font-weight:400;
	cursor:pointer;
    background:#FCEAD6;

    
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid #FBBC73;
	background:#FBBC73;
	color:rgb(0, 0, 0);
    font-weight:550;
}

.f{float: left;}
.s{ float: left;}

/* 입력 부분 */
.input-text{
    margin: auto;
    width: 55%;
}

input{
    width: 100%;
    height: 40px;
    border:1px solid #dfdfdf;	 
    border-radius:5px;
}

  
input::placeholder { 
	font-size: 90%;
	padding: 10px 10px; 
}

/* 아이디 */
.text{
    padding-top: 9px;
    width: 22%;
    text-align: left;
}
.b{
    width: 50%;
    padding : 0;
}

/* 인증번호 받기 */
.pwdFind-email{
    width: 130px;
    height: 41px;
    margin-left: 10px;
    border:1px solid #dfdfdf;	 
	background:#5B3929;
	color:rgb(255, 255, 255);
    border-radius:5px;
}
.in-area{
    margin-top: 50px;
}
.input-area{
    margin-bottom: 20px;
}
.b-a{
    height: 41px;
    border:1px solid #dfdfdf;	 
	background:#5B3929;
	color:rgb(255, 255, 255);
    border-radius:5px;

    border:1px solid #dfdfdf;	 
    border-radius:5px;
}

/* 유효성 검사 */
.check{
padding-top: 2px;
padding-left: 3px;
height: 10px; 
text-align: left;
font-size: 13px;
}
.email_button{
    width: 110px;
    height: 41px;
    margin-left: 10px;
    border:1px solid #dfdfdf;	 
		background:#5B3929;
		color:rgb(255, 255, 255);
    border-radius:5px;
    float: right;
}

#email{
	margin-left: 4.5px;
}
#verifyEmail{
	margin-left: 4.5px;
	
}