<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bannerMapper">

	<resultMap type="Banner" id="banner_rm">
		<id property="banNo" column="BAN_NO"/>
		<result property="startDate" column="START_DT"/>
		<result property="endDate" column="END_DT"/>
		<result property="URL" column="URL"/>
		<result property="img" column="IMG"/>
		<result property="payDate" column="PAY_DT"/>
		<result property="payAmt" column="PAY_AMT"/>
		<result property="impUid" column="IMP_UID"/>
		<result property="bannerFl" column="BANNER_FL"/>
		<result property="aprvlFl" column="APRVL_FL"/>
		<result property="memNo" column="MEM_NO"/>
	</resultMap>
	
	<select id="selectDate" parameterType="string" resultType="string">
			<![CDATA[
				SELECT TO_DATE(UNABLE) FROM (
					SELECT COUNT(*) CNT, #{item} UNABLE FROM BANNER
					WHERE START_DT <= #{item} AND END_DT >= #{item})
				WHERE CNT >= 10
			]]>
	</select>
	
	<insert id="insertBanner" parameterType="Banner">
		INSERT INTO BANNER 
		VALUES (SEQ_BANO.NEXTVAL, #{startDate}, #{endDate}, #{URL}, #{img}, DEFAULT, DEFAULT, #{payAmt}, #{memNo}, #{impUid}, DEFAULT)
	</insert>
	
	<select id="selectBannerByUid" parameterType="string" resultMap="banner_rm">
		SELECT * FROM BANNER
		WHERE IMP_UID = #{impUid}
	</select>
	
	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM BANNER
		WHERE MEM_NO = #{memNo}
	</select>
	
	<select id="selectList" parameterType="_int" resultMap="banner_rm">
		SELECT * FROM BANNER
		WHERE MEM_NO = #{memNo}
		ORDER BY BAN_NO DESC
	</select>
	
	<select id="selectBanner" parameterType="_int" resultMap="banner_rm">
		SELECT * FROM BANNER
		WHERE BAN_NO = #{banNo}
	</select>
	
	<select id="selectTodayBanner" resultMap="banner_rm">
		SELECT * FROM BANNER
		<![CDATA[
			WHERE START_DT < SYSDATE AND END_DT > SYSDATE
		]]>
	</select>
</mapper>