<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEM_NO"/>
		<result property="memberName" column="MEM_NAME"/>
		<result property="memberId" column="MEM_ID"/>
		<result property="memberPwd" column="MEM_PWD"/>
		<result property="memberNickname" column="MEM_NICKNAME"/>
		<result property="memberEmail" column="MEM_EMAIL"/>
		<result property="memberSignDt" column="MEM_SIGN_DT"/>
		<result property="memberIntrs" column="MEM_INTRS"/>
		<result property="memberAddr" column="MEM_ADDR"/>
		<result property="memberGrade" column="MEM_GRADE"/>
		<result property="memberType" column="MEM_TYPE"/>
		<result property="memberSecessionFl" column="MEM_SCSN_FL"/>
	</resultMap>
	
	<!-- 아이디 중복 체크 -->
	<select id="idDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_ID = #{memberId}
		AND MEM_SCSN_FL = 'N'
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_EMAIL = #{memberEmail}
		AND MEM_SCSN_FL = 'N'
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickNameDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEM_NICKNAME = #{memberNickname}
		AND MEM_SCSN_FL = 'N'
	</select>
	
	
	
	<!-- 회원가입 -->
	<insert id="signUp" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{memberNo}, #{memberName}, #{memberId}, #{memberPwd}, #{memberNickname},
												#{memberEmail}, DEFAULT, #{memberIntrs}, #{memberAddr}, 
												DEFAULT, #{memberType}, DEFAULT)
	</insert>
 	
 	
	<!-- 로그인 -->
	<select id="loginAction"  parameterType="Member"  resultMap="member_rm">
		SELECT * FROM V_MYINFO
		WHERE MEM_ID =  #{memberId}
		<!-- AND MEMBER_PWD = #{memberPwd}  -->
		AND MEM_SCSN_FL = 'N' 
	</select>
	
	
	<!-- 아이디 찾기 -->
	<select id="idFind" parameterType="Member" resultType="string">
		SELECT MEM_ID FROM MEMBER
		WHERE MEM_NAME = #{memberName}
				AND MEM_EMAIL = #{memberEmail}
				AND MEM_SCSN_FL = 'N'
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="pwdFind" parameterType="Member" resultType="string">
		SELECT MEM_NO FROM MEMBER
			WHERE MEM_ID = #{memberId}
			AND MEM_EMAIL = #{memberEmail}
			AND MEM_SCSN_FL = 'N' 
	</select>
	
	<!-- 비밀번호 찾기의 새로운 비밀번호 등록 -->
	<update id="updatePwd" parameterType="map" >
		UPDATE MEMBER SET
		MEM_PWD = #{newPwd}
		WHERE MEM_NO = #{memNo}
	</update>
	
	
	
	
	<!-- ************************************* 마이페이지 ************************************* -->

	<!-- 내 정보 수정 -->
	<update id="updateAction" parameterType="Member" >
		UPDATE MEMBER SET
			MEM_NICKNAME = #{memberNickname},
			MEM_INTRS = #{memberIntrs},
			MEM_ADDR = #{memberAddr}
		WHERE MEM_NO = #{memberNo}
	</update>

	<!-- 내 정보 수정 비밀번호 수정  - 비밀번호 확인 -->
	<select id="selectPwd" parameterType="Member"  resultType="string">
		SELECT MEM_PWD FROM MEMBER
		WHERE MEM_NO = #{memberNo}
	</select>

	<!-- 내 정보 수정 비밀번호 수정 - 비밀번호 변경-->
	<update id="myInfoUpdatePwd" parameterType="map" >
		UPDATE MEMBER SET
		MEM_PWD = #{newPwd}
		WHERE MEM_NO = #{memberNo}
	</update>

	<!-- 내 정보 수정  - 회원탈퇴 -->
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER SET
		MEM_SCSN_FL = 'Y'
		WHERE MEM_NO = #{memberNo}
	</update>

	
	<!-- 카카오 회원 정보 조회 -->
	<select id="selectKakoMember" resultMap="member_rm">
		SELECT * FROM V_MYINFO
		WHERE MEM_ID =  #{id}
		AND MEM_SCSN_FL = 'N'  
	</select>

	<select id="selectMemberNo" resultType="_int">
		SELECT SEQ_MNO.NEXTVAL FROM DUAL
	</select>



	
	
	
	
</mapper>