<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shopMapper">

	<resultMap type="Shop" id="shop_rm">
		<id property="shopNo" column="CRAFTSHOP_NO" />
		<result property="shopOwnerName" column="NAME" />
		<result property="shopName" column="CRAFTSHOP_NAME" />
		<result property="shopAdress" column="CRAFTSHOP_ADDR" />
		<result property="shopInfo" column="INTRODUCE" />
		<result property="shopContact" column="CRAFTSHOP_CONTACT" />
		<result property="thumbInfo" column="THUMBNAIL_INFO" />
		<result property="shopCategoryName" column="CS_CATE_NM" />
		<result property="shopCategoryNo" column="CS_CATE_NO" />
		<result property="avgRating" column="AVG_RATING" />
		<result property="participantsCount" column="PRT_COUNT" />
		<result property="likeCount" column="LIKE_COUNT" />
	</resultMap>

	<resultMap type="ShopAttachment" id="shopAttachment_rm">

		<id property="fileNo" column="FILE_NO" />
		
		<result property="fileLevel" column="FILE_LEVEL" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileName" column="FILE_NAME" />
		<result property="shopNo" column="CRAFTSHOP_NO" />

	</resultMap>
	
	

	<!-- 공방 등록 여부 확인 -->
	<select id="selectRegistrationFlag" parameterType="_int"
		resultType="_int">
		SELECT DECODE((SELECT MAX(SHOP_REGI_FL)
		FROM CRAFTSHOP WHERE CRAFTSHOP_NO = #{memberNo}),'Y',1,'N',0,-1 ) RES
		FROM
		DUAL
	</select>

	<!-- 공방 정보 조회(+ 카테고리명) -->
	<select id="selectShop" parameterType="_int" resultMap="shop_rm">
		<!-- SELECT *
		FROM CRAFTSHOP
		JOIN CS_CATEGORY USING(CS_CATE_NO)
		WHERE CRAFTSHOP_NO = #{shopNo} -->
		SELECT A.* , 
		    NVL((SELECT AVG(REV_RATING) 
		        FROM LESSON_REVIEW B 
		        LEFT JOIN LESSON C ON(B.LES_NO = C.LES_NO) WHERE A.CRAFTSHOP_NO = C.CRAFTSHOP_NO ), 0) AVG_RATING,
		    NVL((SELECT COUNT(*) 
		        FROM LESSON_REVIEW B 
		        LEFT JOIN LESSON C ON(B.LES_NO = C.LES_NO) WHERE A.CRAFTSHOP_NO = C.CRAFTSHOP_NO ), 0) PRT_COUNT,
		    (SELECT COUNT(*) FROM CS_GOOD S WHERE S.CRAFTSHOP_NO = A.CRAFTSHOP_NO) LIKE_COUNT    
		FROM CRAFTSHOP A
		WHERE A.CRAFTSHOP_NO = #{shopNo}
	</select>

	<!-- 공방 좋아요 개수 조회 -->
	<select id="selectCsGoodCount" parameterType="_int"
		resultType="_int">
		SELECT COUNT(*) FROM CS_GOOD
		WHERE CRAFTSHOP_NO =
		#{memberNo}
	</select>


	<!-- 좋아요 여부 확인 -->
	<select id="selectLikeFl" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM CS_GOOD
		WHERE MEMBER_NO = #{memberNo}
		AND CRAFTSHOP_NO = #{shopNo}
	</select>



	<select id="selectShopList" resultMap="shop_rm">
		SELECT * FROM CRAFTSHOP
	</select>


	<select id="selectShopInfo" resultMap="shop_rm">
		SELECT * FROM CRAFTSHOP
		WHERE CRAFTSHOP_NO = #{shopNo}
	</select>



	<!-- 공방 등록 -->
	<insert id="registrateShop" parameterType="Shop">
		INSERT INTO CRAFTSHOP
		VALUES
		(#{shopNo}, #{shopOwnerName},
		#{shopName},#{shopAdress},#{shopInfo},#{shopContact},#{shopCategoryNo},#{thumbInfo},
		DEFAULT)
	</insert>



	<!--파일 정보 삽입 (List 이용) -->

	<insert id="insertAttachmentList" parameterType="list">
		INSERT INTO CS_FILE
		SELECT SEQ_SFNO.NEXTVAL, A.* FROM (

		<foreach collection="list" item="item" separator=" UNION ALL ">
			SELECT #{item.filePath} FILE_PATH,
			#{item.fileName} FILE_NAME,
			#{item.shopNo} CRAFTSHOP_NO,
			#{item.fileLevel} FILE_LEVEL
			FROM DUAL
		</foreach>
		) A
	</insert>
	
	<!--썸네일 가져오기 -->
	<select id = "selectThumb" parameterType = "_int" resultMap = "shopAttachment_rm" >
		SELECT * FROM CS_FILE
		WHERE CRAFTSHOP_NO = #{shopNo}
		AND FILE_LEVEL = 0
	</select>


		<!-- 좋아요 삽입 -->
	<insert id="insertLike" parameterType="map">
		INSERT INTO CS_GOOD
		VALUES(#{memberNo}, #{shopNo})
	</insert>

	<!-- 좋아요 삭제-->
	<insert id="deleteLike" parameterType="map">
		DELETE FROM CS_GOOD
		WHERE MEMBER_NO = #{memberNo}
		AND CRAFTSHOP_NO = #{shopNo}
	</insert>


	<!-- 좋아요 카운트 -->
	<select id="selectLikeCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM CS_GOOD
		WHERE CRAFTSHOP_NO = #{shopNo}
	</select>
	
	
	<!-- 공방 정보 수정 -->
	<update id="updateShop" parameterType="Shop">
		UPDATE CRAFTSHOP SET
		NAME = #{shopOwnerName},
		CRAFTSHOP_NAME = #{shopName},
		CRAFTSHOP_ADDR = #{shopAdress}, 
		INTRODUCE = #{shopInfo}, 
		CRAFTSHOP_CONTACT = #{shopContact}, 
		CS_CATE_NO = #{shopCategoryNo}, 
		THUMBNAIL_INFO = #{thumbInfo}
		WHERE	CRAFTSHOP_NO = #{shopNo}
	</update>
	
	<!-- 이미지 목록 조회 -->
	<select id="selectShopAttachmentList" parameterType="_int" resultMap="shopAttachment_rm">
		SELECT * FROM CS_FILE
		WHERE CRAFTSHOP_NO = #{shopNo}
		ORDER BY FILE_LEVEL
	</select>
	
	
	<!-- 이미지 정보 수정 -->
	<update id="updateShopAttachment" parameterType="ShopAttachment">
		UPDATE CS_FILE SET
		FILE_PATH = #{filePath},
		FILE_NAME = #{fileName}
		WHERE FILE_NO = #{fileNo}
	</update>
	
	<!-- 파일 정보 삽입 -->
	<insert id="insertShopAttachment" parameterType="ShopAttachment">
		INSERT INTO CS_FILE
		VALUES(SEQ_FNO.NEXTVAL, #{filePath}, #{fileName}, #{shopNo}, #{fileLevel} )
	</insert>
	
	
	<!-- 파일 정보 일괄 삭제 -->
	<delete id="deleteAttachmentList" parameterType="list">
		DELETE FROM CS_FILE
		WHERE FILE_NO IN
		<foreach collection="list" item="fileNo" open="(" close=")" separator=",">
			#{fileNo}
		</foreach>
	
	</delete>
	
	<!-- 공방 신청 수 List-->
	<select id="getListCount" resultType="_int">
  	SELECT COUNT(*) FROM CRAFTSHOP
	WHERE SHOP_REGI_FL = 'N'
	</select>
	
	
	<!--신청된 공방 리스트  -->
	<select id ="selectList" parameterType = "_int" resultMap ="shop_rm">
		SELECT * FROM CRAFTSHOP
		WHERE SHOP_REGI_FL = 'N'
	</select>
	
	<!-- 공방 내용 가져오기 -->
		<select id="selectShopManager" parameterType="_int" resultMap="shop_rm">
		SELECT * FROM V_REGIVIEW
		WHERE CRAFTSHOP_NO = #{shopNo}
	</select>
	
	
	<!-- 공방 신청 상태 변경-->
		<update id="updateShopFl" parameterType="_int">
		UPDATE CRAFTSHOP
		SET SHOP_REGI_FL = 'Y'
		WHERE CRAFTSHOP_NO = #{shopNo}
	</update>
	
	
	
	
	
	
	
	



</mapper>