@charset "UTF-8";
*{font-family: 'NanumSquare', sans-serif !important;}
input[type='password'] {
	font-family: sans-serif !important;
}
.container{
	height: 1100px;
}

.myInfo{
	height : 1020px;
	background-color: #F8F8F8;
	margin-top: 100px;
}


.info{
	width: 70%;
	margin: auto;
}

.info-a{padding-top: 80px;}



.info-b{
	width : 100%;
	padding-top: 40px;
	display: inline-block;
}
.label-area{
	width: 130px;
  text-align: left;
}
.output{
	display: inline-block;
}

.input-area{
	border:1px solid #dfdfdf;	 
	height: 35px;
	width: 35%;
	float: 
}
.input-area-text{
	border:1px solid #dfdfdf;	 
	height: 300px;
	width: 82%;
}

.textarea-conrol{
	background-color: white;
	opacity:1;
	
	
	display: block;
  width: 100%;
  height: 400px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.control-label{
	margin-top: 50px;
	margin-bottom: 20px;
}




#secessionBtn{
    width: 80%;
    height: 40px;
    border:1px solid #dfdfdf;	
    border-radius:5px; 
    background:#FCEAD6;
    margin-top: 50px;
}
#secessionBtn:hover{
    background:#FBBC73;
}
.secession-area{
    text-align: center;
}












