body {
  width: 1200px;
  margin: 0 auto;
  padding: auto;
}

#header {
  display: fixed;
  
}

/* 전체 폰트 ----------------------------------------------------- */
a {
    text-decoration: none;
    color: black
  }

/* 로고 ---------------------------------------------------------- */
.logoDiv {
  margin-top: 50px;
}

#logo {
  top: 100px;
  margin: 0px auto;
  text-align: center;
}

#zero {
   width: 150px;
}

/* 로그인, 로그아웃 ---------------------------------------------- */
#header-group {
  height: 56px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 1155px;
}

.header-right-items {
  display: flex;
  margin-left: auto; /* 오른쪽 정렬 */
}

.header-item {
  color: #5B3929;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 13px;
}

.header-item:hover {
  color: #5B3929;
  text-decoration: none;
  font-weight: 700;
} 

/* nav ----------------------------------------------------------- */
.dropdown {
  margin-top: 50px;
}

.nav {
  width: 1200px;
  text-align: center;
}

#header .nav #menu {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 18px;
  margin-top: 50px;
  padding: 0 80px;
}

hr {
  margin-top: 5px;
  width: 1800px;
  color: gray;
}

.nav a:hover {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

/* 서브메뉴 ------------------------------------------------------ */
.mypage {
  width: 356px;
}

.dropdown-menu {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 17px;
}

.dropdown-menu.show {
  margin: 0px;
  margin-top: 16px;
}

.dropdown-menu.show a:hover {
  color: #FBBC73;
}

.dropdown-item {
  display: inline;
}
