/* 폰트 -------------------------------------------------------- */
.selector-item {
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 17px;
    font-weight: 600;
  }

  p {
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 15px;
  }
  /* 로고 -------------------------------------------------------- */
  #logo {
    top: 100px;
    margin: 0px auto;
    text-align: center;
  }

  #zero {
    width: 150px;
  }


  /* 로그인, 로그아웃 --------------------------------------------- */
  #header-group {
    height: 56px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 1155px;
    position: relative;
  }

  .header-right-items {
    display: flex;
    margin-left: auto;
    /* 오른쪽 정렬 */
  }

  .header-item {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 13px;
  }

  .header-right-items>a {
    text-decoration: none;
    /* a태그 밑줄 없음 */
    color: #5B3929;
    display: flex;
    /* margin : 0px 65px 0 65px; */
  }

  /* 로그인 시 닉네임 --------------------------------------------- */
  #bread{
    width: 40px;
  }
  
  .nickNameDiv{
    height: 56px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 1155px;
    position: relative;
  }


  /* nav ------------------------------------------------------------*/
  .container {
    left: 50%;
    top: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .selector {
    padding: 0.25rem;
    background-color: #f3f3f3;
    width: min-content;
    border-radius: 12px;
    position: relative;
  }

  .selector-item {
    white-space: nowrap;
    padding: 0.75rem 5.5rem;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    transition: color 0.2s ease;
  }

  .selector-item--active {
    color: white;
  }

  .highlight {
    background-color: #FBBC73;
    border-radius: 8px;
    position: absolute;
    left: 0.25rem;
    width: 4.75rem;
    height: 2.6rem;
    z-index: 1;
    box-shadow: 0px 0px 12px -2px #FBBC73;
    transition: left 0.2s ease,
      width 0.2s ease;
  }

  /* 마이페이지 sub ----------------------------------------------------- */
  a {
      color: black;
      text-decoration: none;
  }

  .container #m-p{
    margin-top: 188px;
    margin-left: 380px;
  }

  .dropdown {
  display: hidden;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  position: absolute;
  background: white;
  width: 250px;
  z-index: 4;
  border-radius: 4px;
  left: calc(50% - 235px);
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 3;
}

.dropdown.show {
  width: 200px;
  display: block;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dropdown p {
  line-height: 35px;
  color: #5B3929;
  display: block;
  text-align: center;
  padding: 0 18px;
  margin: -4px 0;
}

.dropdown p:hover {
  opacity: .8;
}

.dropdown p:nth-child(1) {
  padding-top: 14px;
}

.dropdown p:nth-child(3) {
  padding-bottom: 14px;
}

/* 고객센터 sub ----------------------------------------------------- */
.container #c-s{
    margin-top: 157px;
    margin-left: 627px;
  }

  .dropdown2 {
  display: hidden;
  opacity: 0;
  visibility: hidden;
  margin-top: -20px;
  position: absolute;
  background: white;
  width: 250px;
  z-index: 4;
  border-radius: 4px;
  left: calc(50% - 235px);
  -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
}

.dropdown2::before {
  content: '';
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 3;
}

.dropdown2.show {
  width: 200px;
  display: block;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dropdown2 p {
  line-height: 35px;
  color: #5B3929;
  display: block;
  text-align: center;
  padding: 0 18px;
  margin: -4px 0;
}

.dropdown2 p:hover {
  opacity: .8;
}

.dropdown2 p:nth-child(1) {
  padding-top: 14px;
}

.dropdown2 p:nth-child(2) {
  padding-bottom: 14px;
}
