body {
  width: 1200px;
  margin: 0 auto;
  padding: auto;
}

#header {
  display: fixed;
  
}

/* 전체 폰트 ----------------------------------------------------- */
a {
    text-decoration: none;
    color: black
  }

/* 로고 ---------------------------------------------------------- */
.logoDiv {
  width:1200px;
 	height:300px;
}

#logo {
  margin: 0px auto;
  width:400px;
  height:400px;
  text-align: center;
}

#zero {
   width: 400px;
   height:400px;
}

/* 로그인, 로그아웃, 닉네임 ---------------------------------------------- */
#header-group {
  height: 56px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 1155px;
}

.header-right-items {
  display: flex;
  margin-left: auto; /* 오른쪽 정렬 */
}

.header-item {
  color: #5B3929;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 13px;
}

.header-item:hover {
  color: #5B3929;
  text-decoration: none;
  font-weight: 700;
} 

#userNickname {
	color: #ffc107;
}

#pImg {
	width:25px;
}



/* nav ----------------------------------------------------------- */
.dropdown {
  margin-top: 50px;
}

.nav {
  width: 1200px;
  margin-top:50px;
  text-align: center;
}

#header .nav #menu {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 18px;
  margin-top: 50px;
  padding: 0 80px;
}

hr {
  margin-top: 5px;
  width: 1200px;
  color: gray;
}

.nav a:hover {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

/* 서브메뉴 ------------------------------------------------------ */
.mypage {
  width: 200px;
  text-align: center;
}

.dropdown-menu {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 17px;
}

.dropdown-menu.show {
	width: 240px;
  margin: 0px;
  margin-top: 16px;
}

.dropdown-menu.show a:hover {
  color: #FBBC73;
}

.dropdown-item {
  text-align: center;
}
