.container {
  max-width: 1200px;
  margin: 0 0;
  margin-top: 20px;
  padding: 0 0;
}

.slider-item {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
  border: 1px solid white;
}
.slider-item .slider-image img{
    margin: 0 auto;
    width: 100%;
}
.slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.slider-item:hover .slider-main-detail {
  background-color: #fff1df !important;
}
.slider-item .price{
    float: left;
    margin-top: 5px;
}
.slider-item .price h5{
    line-height: 20px;
    margin: 0;
}
.detail-price{
    color: #219FD1;
}
.slider-item .slider-main-detail .rating{
    color: #777;
}
.slider-item .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.slider-item .btn-details{
    width: 50%;
    float: left;
}
.controls{
    margin-top: 20px;
}

/* 슬라이드 버튼 ------------------- */
.left:hover,.right:hover {
  background-color: #FBBC73;
}

.btn-light:hover {
  border-color: #FBBC73;

}

.btn-light {
  background-color: #FBBC73;
  border-color: #FBBC73;
  margin-left: 10px;
  margin-bottom: 10px;
}


.slider-main-detail:hover{
	background-color: #eee2db !important;
}


.review {
	margin-bottom: 5px;
	padding-top:5px;
}


/* 캐러셀 제목 --------------------------------------*/
#bigTitle {
  width: 280px;
  height: 33px;
}

#bigTitle .p1 {
  font-family: 'NanumSquare', sans-serif !important;
  font-size: 20px;
  font-weight: 500;
  display: inline;
  margin-left: 5px;
}

#bigTitle .p2 {
	font-size: 12px;
  margin-left: 40px;
}


/* 폰트 관련 --------------------------------------*/
.card-category {
  font-size: 11px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 15px
}

.card-title, .card-text {
  font-family: 'NanumSquare', sans-serif !important;
}


/* 카드------------------------------------------*/
.card-deck{
  margin: 0px;
  width: 1200px;
  padding: 0px;
}

.card {
  width: 280px;
  border : 1px solid rgb(255, 255, 255);
}

.card-body, .card-footer {
  width: 280px;
}

.card-body {
  height: 150px;
}

.img-responsive {
  width: 280px;
  height: 400px;
  border-radius: 5px;
}

